/* Forgotpassword.css */
.forgotpage {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
  background-color: #E2F1E7 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
}

.password-reset-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.password-reset-box {
  min-width: 350px !important;
  background-color: #bcd9c6 !important;
  border-radius: 8px !important;
  padding: 2rem !important;
  width: 40% !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.password-reset-title {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  color: #243642 !important;
  text-align: center !important; 
}

.staff-grid {
  font-size: 1.5rem !important;
  color: #387478 !important;
  text-align: center !important; 
}

.form {
  display: flex !important;
  flex-direction: column !important;
}

.form-group {
  margin-bottom: 1.5rem !important;
}

.form-group .input-field {
  width: 100% !important;
  padding: 0.75rem !important;
  border: 1px solid #629584 !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  outline: none !important;
  background-color:#e2f1e7 ;
  transition: border-color 0.3s !important;
}

.input-field:focus {
  border-color: #387478 !important;
}

.btn {
  width: 100% !important;
  padding: 0.75rem !important;
  border: none !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
}

.generate-btn {
  background-color: #387478 !important;
  color: #e2f1e7 !important;
}

.generate-btn:hover {
  background-color: #243642 !important;
}

.confirm-btn {
  background-color: #243642 !important;
  color: #e2f1e7 !important;
}

.confirm-btn:hover {
  background-color: #387478 !important;
}

.error-message {
  color: #FF0000 !important;
  font-size: 0.9rem !important;
  margin-top: -1rem !important;
  margin-bottom: 1rem !important;
}
