.navbar{ 
  width:100%;
  /* border:1px solid red; */
  display: flex;
  justify-content: space-between;
  background-color: #387478;
}

.pr{
  display: flex;
  width: 30%;
  font-size: 20px;
}
.right-icons{
  /* border: 1px solid red; */
  width:50%;
  display: flex;
  justify-content: flex-end; 
  font-size: 20px;
}
.hamburger{
  font-size: 20px;
}
.sg{
  font-size: 20px;
  color:white;
}
@media (max-width:750px) {
  .sg{
    display: none;
  }
}