/* ProjectCard.css */
.project-card {
  background-color: #E2F1E7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  color: #243642;
  font-family: Arial, sans-serif;
  margin-top:80px;
}

.project-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project-card .title {
  font-size: 1.5em;
  font-weight: bold;
  color: #243642;
}

.project-card .details {
  margin: 10px 0;
}

.project-card .footer {
  margin-top: 10px;
  font-size: 0.9em;
}

.project-card .status {
  font-weight: bold;
}

.project-card .status-pending {
  color: #387478;
}

.project-card .status-in-progress {
  color: #629584;
}

.project-card .status-on-hold {
  color: #E2F1E7;
}

.project-card .status-completed {
  color: #243642;
}

.project-card .status-unknown {
  color: #C1C1C1;
}

.project-card .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.project-card .view-button,
.project-card .delete-button {
  background-color: #387478;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.project-card .view-button:hover,
.project-card .delete-button:hover {
  background-color: #629584;
}

.project-card .delete-button {
  background-color: #629584;
}

.project-card .delete-button:hover {
  background-color: #387478;
}

.project-card .modal-content {
  background-color: #E2F1E7;
  color: #243642;
}

.project-card .close {
  background-color: #387478;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.project-card .close:hover {
  background-color: #629584;
}

@media (max-width: 768px) {
  .project-card {
    padding: 15px;
    margin: 10px;
  }

  .project-card .title {
    font-size: 1.2em;
  }

  .project-card .details {
    font-size: 0.9em;
  }

  .project-card .footer {
    font-size: 0.85em;
  }

  .project-card .buttons {
    flex-direction: column;
    align-items: center;
  }

  .project-card .view-button,
  .project-card .delete-button {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .project-card {
    padding: 10px;
    margin: 5px;
  }

  .project-card .title {
    font-size: 1.1em;
  }

  .project-card .buttons {
    flex-direction: column;
  }

  .project-card .view-button,
  .project-card .delete-button {
    padding: 8px 12px;
    font-size: 1em;
  }
}
