.form-container {
  width: 65%;
  margin: 50px auto;
  background-color: #e0f2f1;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.8em;
  margin-top: 70px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* .form-group h3 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
} */

.form-group label {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.error-message {
  color: #d9534f;
  font-size: 0.9em;
  margin-top: 5px;
}

/* h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
} */

.team-member, .task {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 4px;
  margin: 20px auto;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 90%;
}

.team-member label, .task label {
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

button {
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: block;
  align-items: center;
  width: 50%;
  margin: 20px auto;
}

button[type="submit"], .add-btn {
  background-color: #387478;
  color: white;
  transition: background-color 0.3s;
  display: block;
  width: 50%;
  margin: 20px auto;
}

button[type="submit"]:hover, .add-btn:hover {
  background-color: #2f5e63;
}

button[type="button"] {
  /* background-color: #387478;
  color: white;
  margin-right: 10px;
  align-items: center;
  width: 100%; */
}

button.remove-btn {
  align-self: center;
  background-color: #d9534f;
  color: white;
}

button.remove-btn:hover {
  background-color: #c9302c;
}

input[type="text"], input[type="date"], textarea, select {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.team-member + .team-member, .task + .task {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 20px;
    margin: 40px auto;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 150px;
    padding-top: 40px;
  }

  label {
    font-size: 1.2em;
  }

  .form-control {
    font-size: 0.9em;
  }

  button {
    font-size: 0.9em;
    padding: 6px 10px;
    text-align: center;
  }

  .task, .team-member {
    gap: 8px;
    margin-top: 40px;
  }

  .add-btn, button[type="submit"] {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 95%;
    padding: 15px;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 150px;
    padding-top: 70px;
  }

  label {
    font-size: 1em;
  }

  .form-control {
    font-size: 0.8em;
  }

  button {
    font-size: 0.8em;
    padding: 5px 8px;
    display: block;
    margin: 10px auto;
    text-align: center;
  }

  .task, .team-member {
    gap: 6px;
    margin-top: 40px;
  }

  button.remove-btn {
    align-self: center;
  }
}

@media (min-height: 800px) {
  .form-container {
    margin: 70px auto;
  }

  h2 {
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .task, .team-member {
    padding: 20px;
    gap: 12px;
  }
}